blinker==1.8.2
BTrees==6.0
cffi==1.17.1
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
persistent==6.0
pycparser==2.22
setuptools==74.1.2
transaction==4.0
Werkzeug==3.0.4
zc.lockfile==3.0.post1
ZConfig==4.1
ZODB==6.0
zodbpickle==4.0
zope.deferredimport==5.0
zope.interface==7.0.3
zope.proxy==5.3
